DEBUG=True
SECRET_KEY=CHANGE_THIS_SECRET
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DB_NAME=railway
DB_USER=root
DB_PASSWORD=LaigZMXsxAZMRENjfrVUgLtyysZbByXn
DB_HOST=mysql.railway.internal
DB_PORT=3306
REDIS_URL=redis://redis:6379/0
